.Projects {
    z-index: 2;
    
    .ProjectList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 125px;

        .ProjectElement {
            width: 450px;
            height: 450px;
            display: grid;
            grid-template-rows: 300px auto;
            overflow: hidden;
            background-color: #FFF;
            box-shadow: 0 0 5px rgb(0 0 0 / 30%);
            border-radius: 5px;

            &:hover {
                grid-template-rows: 50px auto;
            }

            &:hover .InfoSection {
                grid-template-columns: 2fr 0.25fr;
            }

            &:hover .InfoSection .Info {
                height: 100%;
                p {
                    display: block;
                }
            }

            &:hover .InfoSection .SkillIcons {
                .Skills {
                    height: 100%;
                }
            }

            .InfoSection {
                z-index: 2;
                display: grid;
                grid-template-columns: 2fr .75fr;
                padding: 0 10px;
                background-color: #FFF;
                max-height: 400px;
                border-top: 5px solid var(--primary-color) ;

                .Info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    color: var(--primary-color);
                    height: 50%;
                    align-self: center;
                    h4 {
                        font-size: 34px;
                    }
                    h5 {
                        margin-bottom: 2vh;
                        color: #777;
                        font-size: 24px;
                    }

                    p {
                        display: none;
                        color: black;
                        span {
                            color: var(--primary-color);
                            font-weight: bolder;
                        }
                    }
                }

                .SkillIcons {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    .Skills {
                        display: flex;
                        flex-direction: row;
                        row-gap: 0px;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        color: var(--primary-color);
                        width: 100%;
                        height: 50%;

                        & > div {
                            font-size: 8px;
                        }
            
                        h6 {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .SectionTitle {
        text-align: center;
    }
}

@media only screen and (max-width: 525px) {
    .Projects .ProjectList {
        gap: 75px;

        .ProjectElement {
            width: 85vw;
            height: 85vw;
            grid-template-rows: 55.25vw auto;

            &:hover .InfoSection .Info {
                h4 {
                    margin-bottom: 0;
                }
            }

            .InfoSection {
                grid-template-columns: 1fr .5fr;
                padding: 5px 10px;

                .Info {                
                    h4 {
                        margin-bottom: 5px;
                        font-size: 26px;
                    }
                    h5 {
                        font-size: 22px;
                    }
                    h5, p{
                        margin-bottom: 5px;
                        line-height: 18px;

                    }
                }
            }

            .Preview {
                img {
                    max-width:100%;
                    height:auto;
                }
            }
        }
    }
}