:root {
    --primary-color:  hsl(216, 77%, 51%);
    --hover-color:  hsl(241, 72%, 55%);
  
    --lightbg-color: hsl(60, 100%, 99%);

    --success-color: hsl(150, 72%, 51%);
    --success-hover-color: hsl(150, 72%, 55%);
}