.About {
    display: grid;
    grid-template-columns: 300px 2fr;
    width: 60%;
    margin: auto;
    column-gap: 2rem;

    .ProfileImage {
        justify-self: center;
        align-self: center;
        img {
            border-radius: 50%;
            max-height: 300px;
        }
    }

    .AboutText {
        .Title {
            box-sizing: border-box;
            padding-bottom: 5px;
            border-bottom: solid 2px var(--primary-color);
            margin-bottom: 15px;

            h1 {
                color: var(--primary-color);
                font-weight: 500;
            }
        }

        p {
            font-size: calc(14px + .3vw);
        }
    }
}