.About {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
    justify-content: center;
    column-gap: 15px;

    .ProfileSkills {
        display: grid;
        justify-content: center;
        grid-auto-rows: min-content min-content;
        row-gap: 25px;

        .ProfileImage {
            margin-top: 25px;
            width: 120px;
            height: 120px;
            justify-self: center;
        }

        img {
            border-radius: 50%;
            margin: auto;
        }
    }

    .AboutMe {
        display: grid;
        grid-template-areas:
                "about about about"
                "contact btns btns";
        grid-template-columns: 1fr 2fr;

        p {
            line-height: 25px;
        }

        a {
            color: var(--primary-color);

            &:hover {
                color: white;
            }
        }
        .AboutText {
            grid-area: about;

            .Title {
                box-sizing: border-box;
                padding-bottom: 5px;
                border-bottom: solid 2px var(--primary-color);
                margin-bottom: 15px;

                h1 {
                    color: var(--primary-color);
                    font-weight: 500;
                }
            }

            p {
                font-size: calc(14px + .3vw);
            }
        }
        .ContactText {
            grid-area: contact;
            display: grid;
            align-content: center;
            .Title {
                box-sizing: border-box;
                padding-bottom: 5px;
                border-bottom: solid 2px var(--primary-color);
                margin-bottom: 15px;

                h1 {
                    color: var(--primary-color);
                    font-weight: 500;
                }
            }

            span {
                display: block;
                font-size: calc(12px + .3vw);
            }
        }
        .ResumePortfolioBtns {
            grid-area: btns;
            margin: auto;
            width: 225px;

            div {
                display: flex;
                flex-direction: column;

                span {
                    padding: 1rem 0;
                    max-width: 250px;
                    width: 100%;

                    svg {
                        padding-left: 10px;
                    }
                    button {
                        width: 100%;
                        background-color: var(--primary-color);
                        color: #fff;
                        border: #000;
                        outline: #000;
                        padding: 5px 5px;
                        border-radius: 3px;
                        font-weight: bold;
                        &:active {
                            outline: 0;
                        }
            
                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .About {
        .AboutMe {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 1100px) {
    .About {
        grid-template-columns: 1fr;
        
        .AboutMe {
            display: grid;
            grid-template-areas:
                    "about about about"
                    "contact btns btns";
            grid-template-columns: 1fr 1fr;

            .AboutText {
                p {
                    font-size: calc(16px + .5vw);
                }
            }

            .ContactText {
                span {
                    font-size: calc(16px + .5vw);
                }
            }
        }
    }
    .Skills {
        & > div {
            font-size: 10px;
        }
    }
}


@media screen and (max-width: 600px) {
    .About {
        width: 90%;

        .AboutMe {
            display: grid;
            grid-template-areas:
                    "about"
                    "contact"
                    "btns";
            width: 100%;
            grid-template-columns: 100%;
            row-gap: 25px;

            .AboutText {
                width: 100%;
            }
        }
        .ProfileSkills {
            .Skills {
                display: none;
            }
        }
    }
}