.About {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto;
    width: 100%;
    margin:auto;
    padding:  10vh 0;
    justify-content: center;
    column-gap: 15px;
    align-items: center;
    z-index: 2;

    .ProfileImage {
        width: 120px;
        height: 120px;
        justify-self: center;
    }

    img {
        border-radius: 50%;
        margin: auto;
    }

    .AboutMe {
        display: grid;
        grid-template-areas:
                "about"
                "btns";

        p {
            line-height: 25px;
        }

        a {
            color: var(--primary-color);

            &:hover {
                color: white;
            }
        }
        .AboutText {
            grid-area: about;

            .Title {
                box-sizing: border-box;
                padding-bottom: 5px;
                border-bottom: solid 2px var(--primary-color);
                margin-bottom: 15px;

                h1 {
                    color: var(--primary-color);
                    font-weight: 500;
                }
            }

            p {
                font-size: calc(14px + .3vw);
            }
        }
        .ContactText {
            display: none;
        }
        .ResumePortfolioBtns {
            grid-area: btns;
            margin: auto;
            width: 100%;
            display: flex;
            justify-content: flex-start;

            span {
                padding: 1rem 0;
                max-width: 230px;
                margin-right: 2rem;
                width: 100%;

                svg {
                    padding-left: 10px;
                }

                button {
                    width: 100%;
                    background-color: var(--primary-color);
                    color: #fff;
                    border: #000;
                    outline: #000;
                    padding: 5px 5px;
                    border-radius: 3px;
                    font-weight: bold;
                    &:active {
                        outline: 0;
                    }
        
                    &:hover {
                        background-color: var(--hover-color);
                    }
                }

                &:nth-child(2) button {
                    background-color: transparent;
                    color: var(--primary-color);
                    border: 2px solid var(--primary-color);
                }

                &:last-child button {
                    background-color: transparent;
                    color: var(--primary-color);
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .About {
        grid-template-columns: 1fr;
        
        .ProfileImage {
            margin: auto;
        }

        .AboutMe {
            display: grid;
            grid-template-areas:
                    "about about about"
                    "contact btns btns";
            grid-template-columns: 1fr 1fr;

            .AboutText {
                p {
                    font-size: calc(16px + .5vw);
                }
            }

            .ContactText {
                grid-area: contact;
                display: grid;
                align-content: center;
                .Title {
                    box-sizing: border-box;
                    padding-bottom: 5px;
                    border-bottom: solid 2px var(--primary-color);
                    margin-bottom: 15px;
    
                    h1 {
                        color: var(--primary-color);
                        font-weight: 500;
                    }
                }
            }

            .ResumePortfolioBtns {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: space-between;

                span {
                    width: 75%;
                    margin: auto;

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .About {
        width: 100%;

        .AboutMe {
            display: grid;
            grid-template-areas:
                    "about"
                    "contact"
                    "btns";
            width: 100%;
            grid-template-columns: 100%;
            row-gap: 25px;

            .AboutText {
                width: 100%;
            }

            .ResumePortfolioBtns {
                span {
                    width: 100%;
                    margin: auto;
                    max-width: 100%;
                }
            }
        }
    }
}